/*Global bg-colour overwrite*/
body,html,.container{
  background:#FFF;
}

/*font changer*/
body{
  font-family: 'Montserrat', sans-serif;
}

/*Title Area Formatter*/
.img {
  margin-right: -15px;
  margin-left: -15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 90px;
  margin-top:20px;
    transition: transform 0.26s ease;
    transform-origin: top;
}
.header h3{
  font-family: 'Lora', sans-serif;
  line-height: 20%;
}

.pullRight{
  text-align: right;
}
.pullLeft{
  text-align: left;
}

/*Remove gutters on nested divs*/
.noGutter{
  padding:0px;
}

/*Subtitle font formatting*/
.sub-fancy h6{
  font-family: 'Lora', sans-serif;
  line-height: 20%;
  font-size:14px;
  color:#999999;
}



/*Alter elements on small screen*/
@media screen and (max-width:400px){
  .hide-on-mob{
    display:none;
  }
  /*Align header left on mobile, easier to read.*/
  .header{
    text-align: left;
  }
  /*Adjust padding globally*/
  .container{
    margin:10px;
  }
}

/*Trim the default 1170px cont back to a 970px container*/
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

/*Interactivity through css*/
.img:hover{
  transform: scaleY(10);
  transform-origin: top;
    transition: transform 0.26s ease;
}
