/*Global changes*/
.container{
  background-color:#e1e1e1;
}
body{
  font-family: 'Montserrat', sans-serif;
}

/*Title Div Formatter*/
.header{
  text-align: right;
  background-color:orange;
}
.header h3{
  font-family: 'Lora', sans-serif;
  line-height: 20%;
}

/*Border the containing div*/
/*
.bordered{
  border:1px solid black;
  margin-left: -1px;
  margin-bottom: -1px;
}*/

/*Remove gutters on nested divs*/
.noGutter{
  padding:0px;
}

/*Fill to match left-div height*/
.match-par-height{
  height:50%;
}

/*Hidden elements on small screen*/
@media screen and (max-width:400px){
  .hide-on-mob{
    display:none;
  }
  /*Align header left on mobile, easier to read.*/
  .header{
    text-align: left;
  }
}

/*Trim the default 1170px cont back to a 970px container*/
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
