html{
  background-image: url(http://1.bp.blogspot.com/-CYQ5F9q6YlE/VIX6zgIg8EI/AAAAAAAAGwU/nkOudSDpI18/s1600/website-background-rough-surface.jpg);
}

#rc1{
  width:200px;
  height:200px;
  border-radius: 15px;
  background-color: green;
  border: 1px solid black;
  box-shadow: 5px 5px 3px #333;
  text-align: center;
}

#rc2{
  width:200px;
  height:200px;
  border-radius: 15px;
  background-image: url(http://static2.grsites.com/archive/textures/pink/pink134.jpg);
  text-align: center;
}

p{
  padding:20px;
}
